{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

<h2 class="text-center">Welcome to add an Address!</h2>
{% if current_user.is_authenticated %}
    <h6 class="text-center">Signed in as: {{ current_user.username }}</h6>

    {% for address in addresses %}
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('view_address', address_id=address.id) }}">
                    <h5 class="card-title">{{address.name}}</h5>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">By: {{ address.author.username }}</h6>
            </div>
        </div>
    {% endfor %}

{% else %}
    <h4 class="text-center">Please Sign Up or Log In to view address book</h4>
{% endif %}

{% endblock content %}